OPENAI_API_KEY=
ETF_EXCEL_PATH=/Users/bytedance/Downloads/ETF 多股跟进0601.xlsx
OPENAI_VISION_MODEL=gpt-4.1
OPENAI_ANALYSIS_MODEL=gpt-4.1

FEISHU_WRITE_MODE=cli
FEISHU_APP_ID=
FEISHU_APP_SECRET=
FEISHU_BITABLE_APP_TOKEN=
FEISHU_PRICE_TABLE_ID=
FEISHU_HOLDING_TABLE_ID=
